/*--------Buttons-----------------------------------------------*/
.orangeBackground  /*Button-Optik = orangener Hintergrund*/
{
    border: 2px solid #FFFFFF;
    border-radius: 1em;
    background-color: #FFA600;
    color: #FFFFFF;
    font-family: 'Calibri';
    font-size: 24px;
    font-weight: bold;
}

.whiteBackground /*Button-Optik = weißer Hintergrund*/
{
    border: 2px solid #FFFFFF;
    border-radius: 1em;
    background-color: #FFFFFF;
    color: #FFA600;
    font-family: 'Calibri';
    font-size: 30px;
    font-weight: bold;
}

.button-home
{
    border: 2px solid #FFFFFF;
    border-radius: 1em;
    background-color: #FFFFFF;
    color: #FFA600;
    font-family: 'Calibri';
    font-size: 30px;
    font-weight: bold;
    width: 155px;
    height: 50px;
}

.button-backToMap
{
    border: 2px solid #FFFFFF;
    border-radius: 1em;
    background-color: #FFFFFF;
    color: #FFA600;
    font-family: 'Calibri';
    font-size: 30px;
    font-weight: bold;
    width: 260px;
    height: 50px;
}

#bePartOfTheCommunity
{
    width: 500px;
    height: 50px;
    font-size: 24px;
}

#button-login
{
    width: 152px;
    height: 40px;
}

#choose
{
    width: 165px;
    height: 40px;
    font-size: 24px;
}

#button-addMyTroedel
{
    width: 400px;
    height: 50px;
}

#button-delete
{
    width: 120px;
    height: 40px;
    font-size: 24px;
}

#button-edit
{
    width: 154px;
    height: 40px;
    font-size: 24px;
}

#button-finish
{
    width: 104px;
    height: 40px;
    font-size: 24px;
}

#button-chooseUserPicture
{
    width: 390px;
    height: 40px;
    font-size: 24px;
}

#button-registration
{
    width: 174px;
    height: 40px;
}

#button-editUserPicture
{
    width: 390px;
    height: 40px;
    font-size: 24px;
}

#button-acceptChanges
{
    width: 306px;
    height: 40px;
    font-size: 24px;
}

#button-deleteUserAccount
{
    width: 306px;
    height: 40px;
}

/*--------popupBackground-------------------------------------------*/
#popup-allInformations
{
    display: none;
    position: absolute;
    right: 0;
    top: 10vh;
    height: 80vh;
    border-radius: 1em;
    background-color: #F48C06;
    width: min-content;
}

#popup-editTroedel
{
    height: 822px;
    background-color: #F48C06;
    border-radius: 1em;
}

/*--------pictures-------------------------------------------------------*/
/* Muss für einige Bilder eventuell noch verfeinert werden */

#picture-laptop
{
    height: 200px;
    border-radius: 1em;
}

#picture-seller
{
    width: 45.34px;
    height: 42.54px;
    border-radius: 1em;
}

/*--------imagesbuttons---------------------------------------------------*/
/* Muss für einige Bilder eventuell noch verfeinert werden */
.popup-close
{
    float: right;
    height: 19px;
}

#button-search
{
    position: relative;
    height: 2.3em;
    border-radius: 0em 1em 1em 0em;
}

#button-addTroedel
{
    height: 50px;
    border-radius: 1em;
}

#button-editTroedel
{
    height: 50px;
    border-radius: 1em;
}

#button-logout
{
    height: 45px;
    border-radius: 1em;
}

#button-editUser
{
    height: 50px;
}

#picture-laptop-big
{
    width: 390px;
    height: 220px;
    border-radius: 1em;
}

/*--------div/map---------------------------------------------------*/
#leafletMap
{
    height: 90vh;
    background-color: LemonChiffon;
    border-radius: 1em;
}