/*--------Buttons-----------------------------------------------*/
.orangeBackground  /*Button-Optik = orangener Hintergrund*/
{
    border: 2px solid #FFFFFF;
    border-radius: 1em;
    background-color: #FFA600;
    color: #FFFFFF;
    font-family: 'Calibri';
    font-size: 1.5em;
    font-weight: bold;
}

.whiteBackground /*Button-Optik = weißer Hintergrund*/
{
    border: 2px solid #FFFFFF;
    border-radius: 1em;
    background-color: #FFFFFF;
    color: #FFA600;
    font-family: 'Calibri';
    font-size: 1.5em;
    font-weight: bold;
}

.button-home
{
    border: 2px solid #FFFFFF;
    border-radius: 1em;
    background-color: #FFFFFF;
    color: #FFA600;
    font-family: 'Calibri';
    font-size: 1.5em;
    font-weight: bold;
    height: 50px;
}

.button-backToMap
{
    border: 2px solid #FFFFFF;
    border-radius: 1em;
    background-color: #FFFFFF;
    color: #FFA600;
    font-family: 'Calibri';
    font-size: 1.5em;
    font-weight: bold;
    height: 50px;
}

#rectangle-explore
{
    position: absolute;
    left: 0em;
    top:0em;
    width: 50vw;
    height: 100vh;
    background-color: #FFA600;
    z-index: -1;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5em;
    color: #FFFFFF;
}

#rectangle-login
{
    position: absolute;
    right: 0em;
    top: 0em;
    width: 50vw;
    height: 100vh;
    background-color: #FFA600;
    z-index: -1;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5em;
    color: #FFFFFF;
}

#bePartOfTheCommunity
{
    height: 50px;
    font-size: 1.5em;
}

#button-login
{
    height: 40px;
}

#choose
{
    height: 40px;
    font-size: 1.5em;
}

#button-addMyTroedel
{
    height: 50px;
}

#button-delete
{
    height: 40px;
    font-size: 1.5em;
}

#button-edit
{
    height: 40px;
    font-size: 1.5em;
}

#button-finish
{
    height: 40px;
    font-size: 1.5em;
}

#button-chooseUserPicture
{
    height: 40px;
    font-size: 1.5em;
}

#button-registration
{
    height: 40px;
    margin-top: 1rem;
}

#button-editUserPicture
{
    height: 40px;
    font-size: 1.5em;
    margin-bottom: 1rem;
}

#button-acceptChanges
{
    height: 40px;
    font-size: 1.5em;
}

#button-deleteUserAccount
{
    height: 40px;
}

/*--------Texte--------------*/
.textHeading
{
    font-size: 1.5em;
    margin-bottom: 3rem;
}

.inputField {
    display: block;
    width: 100%;
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 2em;
    -webkit-appearance: none;
    appearance: none;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

/*--------popupBackground-------------------------------------------*/
#popup-allInformations
{
    display: none;
    position: absolute;
    overflow: overlay;
    overflow-x: hidden;
    right: 10px;
    top: 10vh;
    height: 80vh;
    width: min-content;
    border-radius: 1em;
    background-color: #F48C06;
}

#popup-editTroedel
{
    background-color: #F48C06;
    border-radius: 1em;
}

/*--------pictures-------------------------------------------------------*/
/* Muss für einige Bilder eventuell noch verfeinert werden */

#picture-laptop
{
    height: 200px;
    margin-top: 1em;
    /*Picture muss noch ausgerichtet werden*/
    border-radius: 1em;
    object-fit: cover;
    margin-bottom: 1rem;
}

#picture-seller
{
    width: 45.34px;
    height: 42.54px;
    border-radius: 1em;
    margin-top: 1em;
    margin-left: 1em;
}

/*--------imagesbuttons---------------------------------------------------*/
/* Muss für einige Bilder eventuell noch verfeinert werden */
.popup-close
{
    float: right;
    height: 19px;
    margin-top: 1em;
    margin-right: 1em;
}

#button-search
{
    position: relative;
    height: 2.3em;
    border-radius: 0em 1em 1em 0em;
}

#button-addTroedel
{
    height: 50px;
    border-radius: 1em;
}

#button-editTroedel
{
    height: 50px;
    border-radius: 1em;
}

#button-logout
{
    height: 45px;
    border-radius: 1em;
}

#button-editUser
{
    height: 50px;
}

#picture-laptop-big
{
    height: 220px;
    border-radius: 1em;
    object-fit: cover;
    max-width: 100%;
    margin-bottom: 1rem;
}

/*--------Bootstrap-----------------------------------------------*/
div > .form-control, div > .inputField
{
    width: -webkit-fill-available;
    width: -moz-available;  
    margin: 0em 1em 0em 1em;
    margin-bottom: 1rem;
}
  
  #logoicon {
    width: 3em;
    height: 3em;
  }
  
  #logounternehmen {
    height: 10vh;
  }

  #logo {
    height: 30vh;
  }
  
  .form-control, .input-group .btn {
    border-radius: 1em;
  }

/*fast fixes*/

.titel
{
    font-size: 1.5em;
    margin-bottom: 3rem;
}

#searchbar {
    margin: 0;
    margin-bottom: 0;
    flex: 1 1 auto;
    width: 1%;
}
